/*Color Palette
 #2b2d42 - dark blue
 #8D99AE - light blue
 #edf2f4 - blue/white
 #ef233c - red
*/


/*Global styles
----------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  h3{
      margin:0;
  }
  .download{
    position: absolute;
    bottom:0;
    right: 0;
  }
  .uppercare{
      text-transform: uppercase;
  }
.btn{
    text-decoration: none;
    background-color: #ef233c;
    color: white;
    padding: 10px;
    display: inline-block;
}
a{
    color:#ef233c; 
}
a:hover{
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1,h2{
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h2{
    font-size: 40px;
    margin-top: 0;
}
h1{
    font-size: 80px;
}
.content-wrap{
    max-width: 950px;
    margin:0 auto;
    padding: 60px 50px;
    overflow:auto;
}
.profile-img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
}
.col-narrow{
    width: 30%;
    float: left;
    float: left;
    
}
.col-wide{
    width: 70%;
    float: left;
    padding-left: 20px;
    float: left;
   
}
/*header and footer
----------------------------*/
header,footer{
    background:#2b2d42;
    color:#8D99AE;
}
/*header*/
header{
   
    position: relative;
}
header h1, header h2{
    color: #edf2f4;
    margin: 0;
}
/*navigation
----------------------------*/
nav{
    text-align: center;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
}
nav a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    
}
/*footer*/
footer{
    text-align: center;
}
.contact-info a{
    
    padding: 10px;
    display: inline-block;
}
/*work experience
----------------------------*/
.work{
    background: #edf2f4;
    
}
h3~p{
    margin: 0;
}
.job-description p:first-of-type{
    margin-top: 0;
    margin-bottom: 25px;
}
/*education
----------------------------*/
.education{
    background: #8D99AE;
    background: linear-gradient(rgba(141, 153, 174, 0.8),rgba(141, 153, 174, 0.5)), url("../images/study.jpg") fixed;
    background-size: cover;
}
p + h3{
    margin-top:30px;
}
